
@page "/runkeeper"
@using System.Net.Http
@using stefanhall_se_WebApp.Shared;
@using stefanhall_se_WebApp.Services;
@using System.Text.RegularExpressions;

@* @attribute [RenderModeInteractiveServer] *@
@* @rendermode InteractiveServer *@
<h3>Runkeeper</h3>
    <body id="RunkeeperBody">

        <div class="container">
            <div class="row">
                <div class="box">
                    <div class="col-lg-12 text-center">
                        <div id="carousel-example-generic" class="carousel slide">
                            <!-- Indicators -->
                            <ol class="carousel-indicators hidden-xs">
                            </ol>
                            <!-- Wrapper for slides -->

                            <div class="carousel-inner">
                            </div>
                            <!-- Controls -->
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="icon-prev"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="icon-next"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            console.log("Hello from Runkeeper");
        </script>


        <!-- jQuery -->
        <script src="/Scripts/jquery.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="/Scripts/bootstrap.min.js"></script>
        <!-- Script to Activate the Carousel -->

        <script type="text/javascript">
            $(document).ready(function () 
            {
                @foreach(var activityModel in activities) 
                {
                    string runKeeperId = Regex.Match(activityModel.ActivityId, @"\d+").Value;
                    string? typeOfActivity = activityModel.Type;
                    <Text>
                        $('.carousel-inner').append('<div class="item"><h2>@activityModel.Date.ToString("dd MMM yyyy HH:mm").ToUpper()</h2> <b>Typ: </b>@activityModel.Type<br/><b>Sträcka: </b>@activityModel.Distance km <br /><b>Tid: </b>@activityModel.Duration <br /><b>Tempo: </b>@activityModel.AveragePace / km <br /><b>Förbrukade kalorier: </b>@activityModel.CaloriesBurned<br /><a href = "@($"details/{@activityModel.GPXFile}")">Karta</a></div>')
                    </Text>
                }

                $('.item').first().addClass('active');
                $('.carousel-indicators > li').first().addClass('active');
                $('#carousel-example-generic').carousel();
            });
            
        </script>
    </body>
@code 
{
    public List<RunkeeperActivity> activities { get; set; }    
    [Inject]
    public IRunkeeperService runkeeperService { get; set; }

    protected override async Task OnInitializedAsync() => activities = await runkeeperService.GetAllActivities();


}
